.termin {
    padding: 2rem;
    &-select {
        width: 50%;
        text-align: center;
    }
    .sprechstunden {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        li {
            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            ul {
                list-style: none;
                padding: unset;
                margin: unset;
                display: flex;
                li {
                    margin-left: 1rem;
                    cursor: pointer;
                    background: pink;
                    padding: 0.5rem;
                    font-weight: bold;
                    &.hourActive{
                        background-color: aquamarine;
                    }
                }
            }
        }
        .show-termin {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            &>*{
                margin-bottom: 1rem;
            }
            p {
                font-size: 16px;
                font-family: sans-serif;
                font-weight: bold;
            }
            lable {
                font-size: 18px;
                font-family: sans-serif;
                font-weight: bold;
            }
    
            button {
                background: lightseagreen;
                padding: 1rem;
                cursor: pointer;
                font-size: 20px;
            }
    
    }
   
}
}
