@import "../../assets/mixins";
.header {
    background: rgb(12, 166, 187);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin: unset;
   position: fixed;
   top:0;
   left:0;
   width:100%;
   
    nav>ul {
        display: flex;
        list-style: none;
        align-items: center;
        margin: unset;
        height: 3rem;
       
       &> li {
            a{
                color: inherit;
                text-decoration: none;
                position: relative;
            }
        &:not(:last-child){
                margin-right: 2rem;
            }
             color:white;
             text-transform: uppercase;
             height: 100%;
                font-weight: bold;
                display: flex;
                align-items: center;
              
            &:hover>ul{
                display: flex;
            }
        }
        ul{
            list-style: none;
            display: none;
            flex-direction: column;
            position: absolute;
            top:100%;
            background: rgb(12, 166, 187);
            padding: unset;
            width:6rem;
            li{
                padding: 0.5rem;
                border-bottom: 1px solid gray;
                text-align: center;
            }
        }
    }
    img {
       height: 3rem;
      
    }
}
